{% extends "base.html" %}
{% block content %}
{% load static %}
  <div class="container">
    <div class="row justify-content-between">
        <div class="col-md-2 mt-3">
            <div class="card sticky-top" style="width: 18rem; top:0;">
                <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-image">
                        <img src="{% static 'base/img/rajesh-hamal.jpeg' %}" class="d-block w-100" alt="carousel1">
                        </div>
                    </div>
                    <div class="card-body">
                    <h6 class="card-title" style=" width: 100%; background-color: black; color:aliceblue; font-size: 1.3rem; text-align:center;">About</h6>
                    <p><strong>Age:</strong> 57 years old</p>
                    <p><strong>Birth Nation:</strong> Nepal</p>
                    <p><strong>Height:</strong> 6 Feet 1 inch</p>
                    <p><strong>Nick Name:</strong> Rajesh dai</p>
                    <p><strong>Nationality:</strong> Nepales</p>
                    <p><strong>Birth Place:</strong> Palpa,Tansen</p>
                    <p><strong>Profession:</strong>  Actor</p>
                    <p><strong>Star Sign:</strong>  Gemini</p>
                    <p><strong>Working For:</strong> Nepalese Film Industry</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 mt-3">
            <div class="col col-lg-6">
                <div class="card sticky-top" style="width: 40rem; top:0; padding:2rem; background-color:lightgrey;">

                    <P>Rajesh Hamal: the son of a diplomat, a scholarly man with a master’s degree in English Literature, a Goodwill Ambassador and recurrent contributor to charity. But you may know him better as the ‘Great Actor’ of Nepal, starring in award winning films such as Deuta (1992), for which he won the first of many Best Actor Awards by the National Film Award, the most prestigious cinematic awards association in Nepal.
        
                        Since his film debut in the late 1980’s and his seemingly overnight rise to stardom, he has become one of the most, if not the most, iconic figures of Nepali cinema. His roles ranged in character and variety from light hearted romantic comedy,to seat-gripping action and adventure. His cinematic success has not gone unnoticed; he’s the recipient of three decades worth of Best Actor awards and nominations, in addition to numerous other achievements. It seems as if there is nothing that Mr. Hamal cannot do.
                        
                        Rajesh Hamal has become common household name in Nepal. His dedicated acting career has redefined the classifications of what it means to be a Nepali actor. His near record-breaking number of films and acting achievements have not only inspired actors (aspiring and seasoned actors alike), but has given Nepali cinema an unparalleled level of credibility, and has changed the country’s cinematic culture towards higher standards of professionalism and quality.
                    </P>
                    <h3>Early Life Before Acting</h3>
                    <p>Hamal was born on June 4, 1964 in Tansen, in the heart of Nepal. Though he has starred in a staggering number of films and television shows, his fruitfulcareer in film did not begin until his adult years, his mid-twenties, in the early 1990’s.
        
                        He spent the majority of his childhood in hometown in Nepal, attending private school until the eighth grade.As an early teen, he accompanied his father on a cross-continental move to Moscow. At the time, his father was a political diplomat for Nepalese government. Hamal and his father remained in Russia for a number of years. Hamal even began attending college in Moscow. However, he returned to India to finish his formal education in Lahore, at the Punjab University. It was there that he graduated with a M.A. in English Literature.
                        
                        Hamal’s introduction to the camera began upon his return to India in his college years. His exposure started not in cinematic film, but rather in modelling. His infamous modelling career was relatively short-lived, lasting only for a couple years in the mid 1980’s, buthe became one of India’s most popular male models at the time.  His characteristic long black hair and striking good looks did not go unnoticed.  He appeared sporting the latest clothing fashions on runways in Kathmandu and New Delhi, and was featured in the renowned Indian fashion magazine, Fashion Net.
                        
                        While he was quite successful as a model, earning the titles of Best Ramp Performer and Model of the Year in 1989, his aspirations for something more would not be satisfied with modelling. His time in the modelling spotlight soon transformed into something much bigger. Altering not only his life, but the entertainment industry of Nepal as well.
                    </p>
                    <h3>Rajesh Hamal’s Rise to Cinematic Success</h3>
                    <p>Shortly after his modelling career, he took advantage of a familial tie to the movie industry. His uncle Deepak Raymajhiwas a successful director, andas such, Hamal landed a leading role in his first film YugDekhiYugSamma, in 1989. The film was met with great success.
        
                        Hamal starred alongside the young and beautiful actress Kristi Mainali. Their onscreen chemistry was irresistible to audiences, intrigued by this new handsome young actor. The classic, tragic love story was carefully crafted so as not to seem over-done, and helped Hamal earn credibility as a budding young actor. The film was met with such admiration from critics and viewers alike, then-amateur actor Hamal was awarded with Best Debut Actor by the Nepali Actor Awards that year.He was also deemed the “Superstar of Tomorrow” in 1990, in large part thanks to his uncle’s movie.
                        
                        YugDekhiYugSamma was the movie that started it all. Hamal then dove headfirst into acting. He and Mainali would go one to star together in another film Chino, the following year. He poured himself into film after film, and went on to act in an average of ten movies per year. In 1994, he worked on 14 different films, the highest number of movies he worked on in one year in his entire career. He received at least one, sometimes more, notable awards or nominations for Best Actor each consecutive year starting in 1990. Hamal’s acting success was unstoppable.
                    </p>
                    <h3>Nepal’s Cinematic Legend</h3>
                    <p>It is often said that the most successful people follow in the footsteps of their parents; meaning they pursue the same career path as their parents. Rajesh Hamal is a shining example of an exception to that belief.
        
                        While he continues to act, Hamal has given no indication that he has retired for good. He perhaps has chosen to settle down since marriage, but his name and his success will carry on for generations to come. He has set the standards high for a number of reasons. For one, he has the capacity to act in a wide array of roles. Though many of his movies are romantic or light comedy, he definitely did not limit himself to those characters, displaying many award-winning personas throughout the decades. Secondly, he has acted in over 230 films to date, astronomically more than the average actor who didn’t start his career until his mid-twenties. And thirdly, Hamal has raised cinematic standards by his quality of acting. He is decorated with so many awards, nominations, acknowledgements and honors from a number of different film organizations and non-film related organizations alike, there’s no denying his skillful acting.
        
                        His dedication to his acting career is unprecedented, and has hardly been achieved since. Definitely, he was, and still is, at the forefront of Nepalese cinema. Never before had any actor or actress accomplished nearly as much as he has in his thirty plus year long career. Prior to his quick rise to celebrity status, there had been no such precedent for actors, or really anyone, involved in Nepal’s film scene. Hamal single handedly changed the film industry, and altered the course of history.
        
                        Rajesh Hamal has become an icon for any Nepali film enthusiast, actor, director, etc. He has become an iconic figure in other countries as well, not just Nepal. His years of success are living proof of his dedication.Rajesh Hamal’s film career may not be as active as it was in the 1990’s, or even just five years ago. That doesn’t mean he hasn’t made a lasting impact on the Nepalese film industry. Hamal’s impact hasn’t just affected Nepal, but a wider scope as well, earning the respect of many other influential people in the film industry. His movies are favorited in households throughout the world. His name has become legend.
        
                        Who knows what Hamal has in store for the future of Nepalese film. Whatever it may be, the man is a living legend. Whether he continues to act in award winning film, perhaps shifts his focus to directing, or turns inward away from the public eye, Nepal’s film culture will be forever transformed by his career.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
   



{% endblock %}