{% extends "base.html" %}
{% block content %}
{% load static %}
  <div class="container">
    <div class="row justify-content-between">
        <div class="col-md-2 mt-3">
            <div class="card sticky-top" style="width: 18rem; top:0;">
                <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-image">
                        <img src="{% static 'base/img/rajesh-hamal.jpeg' %}" class="d-block w-100" alt="carousel1">
                        </div>
                    </div>
                    <div class="card-body">
                    <h6 class="card-title" style=" width: 100%; background-color: black; color:aliceblue; font-size: 1.3rem; text-align:center;">About</h6>
                    <p><strong>Age:</strong> 57 years old</p>
                    <p><strong>Birth Nation:</strong> Nepal</p>
                    <p><strong>Height:</strong> 6 Feet 1 inch</p>
                    <p><strong>Nick Name:</strong> Rajesh dai</p>
                    <p><strong>Nationality:</strong> Nepales</p>
                    <p><strong>Birth Place:</strong> Palpa,Tansen</p>
                    <p><strong>Profession:</strong>  Actor</p>
                    <p><strong>Star Sign:</strong>  Gemini</p>
                    <p><strong>Working For:</strong> Nepalese Film Industry</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 mt-3">
            <div class="col col-lg-6">
                <div class="card sticky-top" style="width:36rem; top:0; padding:2rem; background-color:lightgrey;">
                    <h3>Early Life Before Acting</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum harum fugiat dicta aperiam nam odit deserunt, ea perferendis minima repellat unde voluptates sint explicabo possimus voluptate officia. Corporis quia velit nesciunt culpa reiciendis nostrum quibusdam in iste recusandae voluptas amet debitis optio eveniet minus repellat adipisci, enim laboriosam. Soluta a autem nemo dolore fugit. Consequuntur soluta esse corporis est vitae, nobis quos assumenda maiores reiciendis impedit repellat aperiam perferendis ut qui. Dolores, veritatis sunt! Vel doloremque aut atque fugiat eum sunt dolorum, aliquid deserunt quibusdam facilis sint nisi veritatis voluptate eligendi voluptatibus ut dolore, temporibus optio ab porro eius vitae.</p>
                    <h3>Early Life Before Acting</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, possimus quisquam, magnam impedit porro harum iste recusandae rem consequuntur dicta sapiente reprehenderit fugiat minus, perferendis asperiores eaque laudantium nesciunt maiores! Sit molestiae perspiciatis nesciunt iusto iste veniam laborum, voluptatum harum at minima eum quidem animi architecto eveniet eaque odio. Molestiae voluptate quia quaerat distinctio. In, omnis voluptates atque expedita modi, nihil animi est libero doloremque earum eos id voluptatum commodi repudiandae perspiciatis magni, voluptate quasi? Ad dolore consectetur labore esse, minima laborum est a cumque reiciendis. Magnam animi, consectetur quas dolore, qui non dignissimos praesentium esse aliquid hic excepturi nisi.</p>
                </div>
            </div>
        </div>
    </div>
</div>
   



{% endblock %}